doctype html
html
	head
		title Get Me Prepped
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
		script(src="/javascripts/utilities.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation/foundation.topbar.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation/foundation.tooltip.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/vendor/modernizr.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation/foundation.reveal.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
		script(src="/javascripts/main.js")

