extends layout

block content
	nav(class="top-bar" data-topbar)
		ul.title-area
			li.name
				h1
					a(href="#") Emergency Kit Builder
	.row.space-down.white
		.large-12.columns
			h2.parameters Here are the parameters you entered:
			ul.review
				li Kit Name: #{data.kitName}
				li Kit Location: #{data.location}
				li Size of Group: #{data.groupSize}
				li # of Pets: #{data.pets}
				if (data.earthquakeZone)
					li Earthquake Zone
				if (data.floodZone)
					li Flood Zone
				if (data.tornadoZone)
					li Tornado Zone
				if (data.hurricaneZone)
					li Hurricane Zone
				if (data.limitedStorage)
					li Limited Storage
				if (data.backCountry)
					li Backcountry Driving

		.large-12.columns.text-center
			ul.button-group
				li
					a(href="/").button I want to start over
				li
					a(href="#" data-reveal-id="myModal").button This looks good
		.reveal-modal#myModal(data-reveal)
			h2 Login With:
			ul.button-group 
				li 
					a(href="/login/google" class="button")#google-button Google
				li 
					a(href="/login/facebook" class="button")#facebook-button Facebook					
				a.close-reveal-modal &#215
			
