fonts = 14px Lucida Grande Helvetica Arial sans-serif

body
	font fonts


a
	color #00B7FF

header
	text-align center
	font-weight bold
	font-size 3em


.questionnaire
	text-align center

.error
	border 2pt solid red

.kit-name
	font-weight bold
	text-decoration underline
	text-align center

.row
	border 1pt solid #000

.test
	margin-top 5px
	
.kit-container
	font-size 1.25em
.columns, .row
	background-color white
img
	width 4.5em

.tooltip
	color red