fonts = 14px Lucida Grande Helvetica Arial sans-serif

body
	font fonts
	background: url('../images/ok.jpg')
	// background: url('../images/download.jpeg')
	background-size cover

a
	color #F6F6F6

.top-bar > section > ul > li > a
	font-size 1.25em

.top-bar > ul > li > a
	font-size 5.5em

.active
	text-align center
	width 100px

.title
	display: inline
	border none
	background-color none

.rpad
	margin-right 20px

.rpad-q
	margin-right 40px

.text
	padding-top 10px
// .header
// 	text-align right
// 	font-weight bold
// 	font-size 3em
// 	padding 0

.q-title
	margin-left: 2px
	margin-right: 2px
	font-size 1.75em
	text-align center

.space-down
	margin-top 40px
	width 50%

.right-align
	float right
	color floralwhite

.reveal-modal
	width 35%
	text-align center
	left 70%
	padding 0

.button-group
	margin-right: 15%
	margin-left: 15%

.questionnaire, .review
	text-align center
	padding-left 15px
	padding-right: 15px
	font-size 1.5em

.parameters
	font-size 2.5em

.review
	list-style-type: none
	font-size: 1.75em

.error
	border 2pt solid red

.kit-name > h2
	font-weight bold
	text-decoration underline
	text-align center

h2
	font-size 2em
	text-align center

.special
	font-weight bold
	text-decoration underline
	text-align center
	font-size: 1.25em

.special > input
	float left

.row
	border 1pt solid #000
	
.kit-container
	font-size 1.25em
	margin-top: 25px
	margin-bottom: 25px
	text-align center

.white
	background-color white
	opacity .95

img
	width 4.5em

.img-md
	width 3.5em

.delete
	border none

.tooltip
	font-size 1.5em