body {
  font: 14px Lucida Grande Helvetica Arial sans-serif;
  background: url("../images/ok.jpg");
  background-size: cover;
}
a {
  color: #f6f6f6;
}
.active {
  text-align: center;
  width: 100px;
}
.title {
  display: inline;
  border: none;
  background-color: none;
}
.rpad {
  margin-right: 20px;
}
.rpad-q {
  margin-right: 40px;
}
.q-title {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1.75em;
  text-align: center;
}
.space-down {
  margin-top: 40px;
  width: 50%;
}
.right-align {
  float: right;
  color: #fffff0;
}
.reveal-modal {
  width: 30%;
  text-align: center;
  left: 70%;
  padding: 0;
}
.button-group {
  margin-left: 15%;
}
.questionnaire,
.review {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5em;
}
.parameters {
  font-size: 2.5em;
}
.review {
  list-style-type: none;
  font-size: 1.75em;
}
.error {
  border: 2pt solid #f00;
}
.kit-name > h2 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
h2 {
  font-size: 2em;
  text-align: center;
}
.special {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: 1.25em;
}
.special > input {
  float: left;
}
.row {
  border: 1pt solid #000;
}
.test {
  margin-top: 5px;
}
.kit-container {
  font-size: 1.25em;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.white {
  background-color: #fff;
  opacity: 0.95;
}
img {
  width: 4.5em;
}
.img-md {
  width: 3.5em;
}
.delete {
  border: none;
}
.tooltip {
  font-size: 1.5em;
}
